.message-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.message {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem 2rem 3rem 1rem;
}
.circle-wrapper {
    width: 5rem;
}
.circle {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    margin: 0 1rem;
}
.user-avatar {
    background-color: darkcyan;
}
.user-message {
    background-color: var(--color-surface);
}
.chatbot-avatar {
    background-color: darkmagenta;
}
.chatbot-message {
    background-color: var(--color-chatbot-bg);
}
.content-wrapper {
    display: flex;
    width: 50rem;
}
.message p {
    margin-top: 0.5rem;
}