<html class="<%= color_scheme.class %>">
    <head> 
        <title>Cait - Knowledge Base Chatbot with Access Controls</title>
        <link rel="stylesheet" type="text/css" href="/assets/styles.css" />
        <script src="/assets/htmx.min.js" defer></script>
    </head>
    <body>
        <header class="settings-header">
            <h3>Settings</h3>
        </header>
        <main class="settings">
            <h3>Theme Preferences</h3>
            <div class="theme-preference">
                <select id="system-or-select">
                    <% match color_scheme.color_mode { 
                        ColorMode::Select => { %>
                            <option value="select" selected >Single theme</option>
                            <option value="system">Sync with system</option>
                        <% }, 
                        ColorMode::System => { %>
                            <option value="select">Single theme</option>
                            <option value="system" selected >Sync with system</option>
                        <% },
                    } %>
                </select>
                <label>
                    <% match color_scheme.color_mode { 
                        ColorMode::Select => { %>
                            <span id="light-span" class="toggle-span">Light</span>
                        <% }, 
                        ColorMode::System => { %>
                            <span id="light-span" class="toggle-span toggle-span-disabled">Light</span>
                        <% },
                    } %>
                    <% match color_scheme.selected_color { 
                        Theme::Dark => match color_scheme.color_mode { 
                            ColorMode::Select => { %>
                                <input id="theme-toggle" type="checkbox" checked />
                            <% },
                            ColorMode::System => { %>
                                <input id="theme-toggle" type="checkbox" checked disabled />
                            <% },
                        }
                        Theme::Light => match color_scheme.color_mode {
                            ColorMode::Select => { %>
                                <input id="theme-toggle" type="checkbox" />
                            <% },
                            ColorMode::System => { %>
                                <input id="theme-toggle" type="checkbox" disabled />
                            <% },
                        },
                    } %>
                    <span class="slider">
                        <span class="icon-part"></span>
                        <span class="icon-part"></span>
                        <span class="icon-part"></span>
                        <span class="icon-part"></span>
                        <span class="icon-part"></span>
                        <span class="icon-part"></span>
                        <span class="icon-part"></span>
                        <span class="icon-part"></span>
                        <span class="icon-part"></span>
                    </span>
                    <% match color_scheme.color_mode { 
                        ColorMode::Select => { %>
                            <span id="dark-span" class="toggle-span">Dark</span>
                        <% }, 
                        ColorMode::System => { %>
                            <span id="dark-span" class="toggle-span toggle-span-disabled">Dark</span>
                        <% },
                    } %>
                </label>
            </div>
        </main>
        <% include!("../navbar/navbar.stpl"); %>
        <script>
            document.getElementById('theme-toggle').addEventListener('change', function () {
                var element = document.documentElement;
                if (this.checked) {
                    element.classList.remove('light');
                    element.classList.add('dark');
                    document.cookie = 'color_scheme={"color_mode":"select", "selected_color":"dark"}; path=/; secure; SameSite=Lax';
                } else {
                    element.classList.remove('dark');
                    element.classList.add('light');
                    document.cookie = 'color_scheme={"color_mode":"select", "selected_color":"light"}; path=/; secure; SameSite=Lax';
                }
            });
            document.getElementById('system-or-select').addEventListener('change', function () {
                var themeToggle = document.getElementById('theme-toggle');
                var element = document.documentElement;
                var lightSpan = document.getElementById('light-span');
                var darkSpan = document.getElementById('dark-span');
                if (this.value === 'system') {
                    element.classList.remove('light');
                    element.classList.remove('dark');
                    themeToggle.disabled = true;
                    lightSpan.classList.add('toggle-span-disabled');
                    darkSpan.classList.add('toggle-span-disabled');
                    if (themeToggle.checked) {
                        document.cookie = 'color_scheme={"color_mode":"system", "selected_color":"dark"}; path=/; secure; SameSite=Lax';
                    } else {
                        document.cookie = 'color_scheme={"color_mode":"system", "selected_color":"light"}; path=/; secure; SameSite=Lax';
                    }
                } else {
                    if (themeToggle.checked) {
                        element.classList.add('dark');
                        document.cookie = 'color_scheme={"color_mode":"select", "selected_color":"dark"}; path=/; secure; SameSite=Lax';
                    } else {
                        element.classList.add('light');
                        document.cookie = 'color_scheme={"color_mode":"select", "selected_color":"light"}; path=/; secure; SameSite=Lax';
                    }
                    themeToggle.disabled = false;
                    lightSpan.classList.remove('toggle-span-disabled');
                    darkSpan.classList.remove('toggle-span-disabled');
                }
            });
        </script>
    </body>
</html>
