.global-css {
  background-color: var(--color-surface);
  color: var(--color-text);
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

.component-sizes {
  --slide-toggle-width: 4rem;
}

.colors-light {
  --color-primary: #d07663;
  --color-primary-icon: #bc624f;
  --color-surface: #fff;
  --color-navbar-bg: rgba(255, 255, 255, .65);
  --color-navbar-inset: rgba(190, 190, 190, .6);
  --color-topnav-bg: rgba(255, 255, 255, .6);
  --color-topnav-inset: rgba(255, 255, 255, .9);
  --color-box-shadow: rgba(174, 174, 174, .2);
  --color-gap: #dedede;
  --color-border: #d7d7d7;
  --color-text: #000;
  --color-input-background: #d4d4d4;
  --color-input-icon: gray;
  --color-input-focused: #e4e4e4;
  --color-scrollbar-thumb: rgba(85, 85, 85, .6);
  --color-chatbot-bg: #f2f2f2;
  --color-logo-icon: #cd715e;
  --color-logo-icon-alt: #c2513b;
}

@supports (color: color(display-p3 0 0 0)) {
  .colors-light {
    --color-primary: color(display-p3 .768861 .480954 .407837);
    --color-primary-icon: color(display-p3 .690147 .401586 .329916);
    --color-surface: color(display-p3 1 1 1);
    --color-navbar-bg: color(display-p3 1 1 1 / .65);
    --color-navbar-inset: color(display-p3 .743206 .743206 .743206 / .6);
    --color-topnav-bg: color(display-p3 1 1 1 / .6);
    --color-topnav-inset: color(display-p3 1 1 1 / .9);
    --color-box-shadow: color(display-p3 .681341 .681341 .681341 / .2);
    --color-gap: color(display-p3 .869816 .869817 .869816);
    --color-border: color(display-p3 .844199 .844199 .844199);
    --color-text: color(display-p3 0 0 0);
    --color-input-background: color(display-p3 .831444 .831444 .831444);
    --color-input-icon: color(display-p3 .502111 .502111 .502111);
    --color-input-focused: color(display-p3 .895577 .895577 .895577);
    --color-scrollbar-thumb: color(display-p3 .333837 .333837 .333837 / .6);
    --color-chatbot-bg: color(display-p3 .947516 .947516 .947516);
    --color-logo-icon: color(display-p3 .754218 .460359 .386309);
    --color-logo-icon-alt: color(display-p3 .708748 .346166 .261248);
  }
}

@supports (color: lab(0% 0 0)) {
  .colors-light {
    --color-primary: lab(59.7716% 34.6837 26.5774);
    --color-primary-icon: lab(52.2159% 35.7616 27.7267);
    --color-surface: lab(100% 0 0);
    --color-navbar-bg: lab(100% 0 0 / .65);
    --color-navbar-inset: lab(76.8% -.0000298023 0 / .6);
    --color-topnav-bg: lab(100% 0 0 / .6);
    --color-topnav-inset: lab(100% 0 0 / .9);
    --color-box-shadow: lab(71% 0 0 / .2);
    --color-gap: lab(88.4% 0 .0000119209);
    --color-border: lab(86.08% -.0000298023 0);
    --color-text: lab(0% 0 0);
    --color-input-background: lab(84.92% 0 -.0000119209);
    --color-input-icon: lab(53.6% 0 0);
    --color-input-focused: lab(90.72% .0000298023 -.0000119209);
    --color-scrollbar-thumb: lab(36.2% 0 .00000596046 / .6);
    --color-chatbot-bg: lab(95.36% 0 0);
    --color-logo-icon: lab(58.0244% 35.6416 27.4194);
    --color-logo-icon-alt: lab(49.8297% 45.2235 36.4627);
  }
}

.colors-dark {
  --color-primary: #d07663;
  --color-primary-icon: #dd7f35;
  --color-surface: #000;
  --color-navbar-bg: rgba(0, 0, 0, .5);
  --color-navbar-inset: rgba(72, 72, 72, .9);
  --color-topnav-bg: rgba(0, 0, 0, .4);
  --color-topnav-inset: rgba(0, 0, 0, .6);
  --color-box-shadow: rgba(72, 72, 72, .4);
  --color-gap: #222;
  --color-border: #484848;
  --color-text: #fff;
  --color-input-background: #484848;
  --color-input-icon: #9e9e9e;
  --color-input-focused: #3a3a3a;
  --color-scrollbar-thumb: rgba(206, 206, 206, .6);
  --color-chatbot-bg: #161616;
  --color-logo-icon: #c36856;
  --color-logo-icon-alt: #bd5440;
}

@supports (color: color(display-p3 0 0 0)) {
  .colors-dark {
    --color-primary: color(display-p3 .768861 .480954 .407837);
    --color-primary-icon: color(display-p3 .81506 .515318 .271958);
    --color-surface: color(display-p3 0 0 0);
    --color-navbar-bg: color(display-p3 0 0 0 / .5);
    --color-navbar-inset: color(display-p3 .280604 .280604 .280604 / .9);
    --color-topnav-bg: color(display-p3 0 0 0 / .4);
    --color-topnav-inset: color(display-p3 0 0 0 / .6);
    --color-box-shadow: color(display-p3 .280604 .280604 .280604 / .4);
    --color-gap: color(display-p3 .131499 .131499 .131499);
    --color-border: color(display-p3 .280604 .280604 .280604);
    --color-text: color(display-p3 1 1 1);
    --color-input-background: color(display-p3 .280604 .280604 .280604);
    --color-input-icon: color(display-p3 .620499 .620499 .620499);
    --color-input-focused: color(display-p3 .229013 .229013 .229013);
    --color-scrollbar-thumb: color(display-p3 .806045 .806045 .806046 / .6);
    --color-chatbot-bg: color(display-p3 .0861042 .0861042 .0861042);
    --color-logo-icon: color(display-p3 .718237 .427332 .354591);
    --color-logo-icon-alt: color(display-p3 .691884 .355377 .275215);
  }
}

@supports (color: lab(0% 0 0)) {
  .colors-dark {
    --color-primary: lab(59.7716% 34.6837 26.5774);
    --color-primary-icon: lab(62.8478% 33.2016 54.3374);
    --color-surface: lab(0% 0 0);
    --color-navbar-bg: lab(0% 0 0 / .5);
    --color-navbar-inset: lab(30.4% -.0000149012 0 / .9);
    --color-topnav-bg: lab(0% 0 0 / .4);
    --color-topnav-inset: lab(0% 0 0 / .6);
    --color-box-shadow: lab(30.4% -.0000149012 0 / .4);
    --color-gap: lab(13% 0 0);
    --color-border: lab(30.4% -.0000149012 0);
    --color-text: lab(100% 0 0);
    --color-input-background: lab(30.4% -.0000149012 0);
    --color-input-icon: lab(65.2% 0 0);
    --color-input-focused: lab(24.6% 0 0);
    --color-scrollbar-thumb: lab(82.6% .0000298023 -.0000119209 / .6);
    --color-chatbot-bg: lab(7.22637% -.0000149012 0);
    --color-logo-icon: lab(54.7718% 35.7069 27.5821);
    --color-logo-icon-alt: lab(49.6388% 42.0781 33.4954);
  }
}

:root {
  --color-primary: #d07663;
  --color-primary-icon: #bc624f;
  --color-surface: #fff;
  --color-navbar-bg: rgba(255, 255, 255, .65);
  --color-navbar-inset: rgba(190, 190, 190, .6);
  --color-topnav-bg: rgba(255, 255, 255, .6);
  --color-topnav-inset: rgba(255, 255, 255, .9);
  --color-box-shadow: rgba(174, 174, 174, .2);
  --color-gap: #dedede;
  --color-border: #d7d7d7;
  --color-text: #000;
  --color-input-background: #d4d4d4;
  --color-input-icon: gray;
  --color-input-focused: #e4e4e4;
  --color-scrollbar-thumb: rgba(85, 85, 85, .6);
  --color-chatbot-bg: #f2f2f2;
  --color-logo-icon: #cd715e;
  --color-logo-icon-alt: #c2513b;
  --slide-toggle-width: 4rem;
  background-color: var(--color-surface);
  color: var(--color-text);
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

@supports (color: color(display-p3 0 0 0)) {
  :root {
    --color-primary: color(display-p3 .768861 .480954 .407837);
    --color-primary-icon: color(display-p3 .690147 .401586 .329916);
    --color-surface: color(display-p3 1 1 1);
    --color-navbar-bg: color(display-p3 1 1 1 / .65);
    --color-navbar-inset: color(display-p3 .743206 .743206 .743206 / .6);
    --color-topnav-bg: color(display-p3 1 1 1 / .6);
    --color-topnav-inset: color(display-p3 1 1 1 / .9);
    --color-box-shadow: color(display-p3 .681341 .681341 .681341 / .2);
    --color-gap: color(display-p3 .869816 .869817 .869816);
    --color-border: color(display-p3 .844199 .844199 .844199);
    --color-text: color(display-p3 0 0 0);
    --color-input-background: color(display-p3 .831444 .831444 .831444);
    --color-input-icon: color(display-p3 .502111 .502111 .502111);
    --color-input-focused: color(display-p3 .895577 .895577 .895577);
    --color-scrollbar-thumb: color(display-p3 .333837 .333837 .333837 / .6);
    --color-chatbot-bg: color(display-p3 .947516 .947516 .947516);
    --color-logo-icon: color(display-p3 .754218 .460359 .386309);
    --color-logo-icon-alt: color(display-p3 .708748 .346166 .261248);
  }
}

@supports (color: lab(0% 0 0)) {
  :root {
    --color-primary: lab(59.7716% 34.6837 26.5774);
    --color-primary-icon: lab(52.2159% 35.7616 27.7267);
    --color-surface: lab(100% 0 0);
    --color-navbar-bg: lab(100% 0 0 / .65);
    --color-navbar-inset: lab(76.8% -.0000298023 0 / .6);
    --color-topnav-bg: lab(100% 0 0 / .6);
    --color-topnav-inset: lab(100% 0 0 / .9);
    --color-box-shadow: lab(71% 0 0 / .2);
    --color-gap: lab(88.4% 0 .0000119209);
    --color-border: lab(86.08% -.0000298023 0);
    --color-text: lab(0% 0 0);
    --color-input-background: lab(84.92% 0 -.0000119209);
    --color-input-icon: lab(53.6% 0 0);
    --color-input-focused: lab(90.72% .0000298023 -.0000119209);
    --color-scrollbar-thumb: lab(36.2% 0 .00000596046 / .6);
    --color-chatbot-bg: lab(95.36% 0 0);
    --color-logo-icon: lab(58.0244% 35.6416 27.4194);
    --color-logo-icon-alt: lab(49.8297% 45.2235 36.4627);
  }
}

@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --color-primary: #d07663;
    --color-primary-icon: #dd7f35;
    --color-surface: #000;
    --color-navbar-bg: rgba(0, 0, 0, .5);
    --color-navbar-inset: rgba(72, 72, 72, .9);
    --color-topnav-bg: rgba(0, 0, 0, .4);
    --color-topnav-inset: rgba(0, 0, 0, .6);
    --color-box-shadow: rgba(72, 72, 72, .4);
    --color-gap: #222;
    --color-border: #484848;
    --color-text: #fff;
    --color-input-background: #484848;
    --color-input-icon: #9e9e9e;
    --color-input-focused: #3a3a3a;
    --color-scrollbar-thumb: rgba(206, 206, 206, .6);
    --color-chatbot-bg: #161616;
    --color-logo-icon: #c36856;
    --color-logo-icon-alt: #bd5440;
    --slide-toggle-width: 4rem;
    background-color: var(--color-surface);
    color: var(--color-text);
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
  }

  @supports (color: color(display-p3 0 0 0)) {
    :root:not(.light) {
      --color-primary: color(display-p3 .768861 .480954 .407837);
      --color-primary-icon: color(display-p3 .81506 .515318 .271958);
      --color-surface: color(display-p3 0 0 0);
      --color-navbar-bg: color(display-p3 0 0 0 / .5);
      --color-navbar-inset: color(display-p3 .280604 .280604 .280604 / .9);
      --color-topnav-bg: color(display-p3 0 0 0 / .4);
      --color-topnav-inset: color(display-p3 0 0 0 / .6);
      --color-box-shadow: color(display-p3 .280604 .280604 .280604 / .4);
      --color-gap: color(display-p3 .131499 .131499 .131499);
      --color-border: color(display-p3 .280604 .280604 .280604);
      --color-text: color(display-p3 1 1 1);
      --color-input-background: color(display-p3 .280604 .280604 .280604);
      --color-input-icon: color(display-p3 .620499 .620499 .620499);
      --color-input-focused: color(display-p3 .229013 .229013 .229013);
      --color-scrollbar-thumb: color(display-p3 .806045 .806045 .806046 / .6);
      --color-chatbot-bg: color(display-p3 .0861042 .0861042 .0861042);
      --color-logo-icon: color(display-p3 .718237 .427332 .354591);
      --color-logo-icon-alt: color(display-p3 .691884 .355377 .275215);
    }
  }

  @supports (color: lab(0% 0 0)) {
    :root:not(.light) {
      --color-primary: lab(59.7716% 34.6837 26.5774);
      --color-primary-icon: lab(62.8478% 33.2016 54.3374);
      --color-surface: lab(0% 0 0);
      --color-navbar-bg: lab(0% 0 0 / .5);
      --color-navbar-inset: lab(30.4% -.0000149012 0 / .9);
      --color-topnav-bg: lab(0% 0 0 / .4);
      --color-topnav-inset: lab(0% 0 0 / .6);
      --color-box-shadow: lab(30.4% -.0000149012 0 / .4);
      --color-gap: lab(13% 0 0);
      --color-border: lab(30.4% -.0000149012 0);
      --color-text: lab(100% 0 0);
      --color-input-background: lab(30.4% -.0000149012 0);
      --color-input-icon: lab(65.2% 0 0);
      --color-input-focused: lab(24.6% 0 0);
      --color-scrollbar-thumb: lab(82.6% .0000298023 -.0000119209 / .6);
      --color-chatbot-bg: lab(7.22637% -.0000149012 0);
      --color-logo-icon: lab(54.7718% 35.7069 27.5821);
      --color-logo-icon-alt: lab(49.6388% 42.0781 33.4954);
    }
  }
}

:root.dark {
  --color-primary: #d07663;
  --color-primary-icon: #dd7f35;
  --color-surface: #000;
  --color-navbar-bg: rgba(0, 0, 0, .5);
  --color-navbar-inset: rgba(72, 72, 72, .9);
  --color-topnav-bg: rgba(0, 0, 0, .4);
  --color-topnav-inset: rgba(0, 0, 0, .6);
  --color-box-shadow: rgba(72, 72, 72, .4);
  --color-gap: #222;
  --color-border: #484848;
  --color-text: #fff;
  --color-input-background: #484848;
  --color-input-icon: #9e9e9e;
  --color-input-focused: #3a3a3a;
  --color-scrollbar-thumb: rgba(206, 206, 206, .6);
  --color-chatbot-bg: #161616;
  --color-logo-icon: #c36856;
  --color-logo-icon-alt: #bd5440;
  --slide-toggle-width: 4rem;
  background-color: var(--color-surface);
  color: var(--color-text);
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

@supports (color: color(display-p3 0 0 0)) {
  :root.dark {
    --color-primary: color(display-p3 .768861 .480954 .407837);
    --color-primary-icon: color(display-p3 .81506 .515318 .271958);
    --color-surface: color(display-p3 0 0 0);
    --color-navbar-bg: color(display-p3 0 0 0 / .5);
    --color-navbar-inset: color(display-p3 .280604 .280604 .280604 / .9);
    --color-topnav-bg: color(display-p3 0 0 0 / .4);
    --color-topnav-inset: color(display-p3 0 0 0 / .6);
    --color-box-shadow: color(display-p3 .280604 .280604 .280604 / .4);
    --color-gap: color(display-p3 .131499 .131499 .131499);
    --color-border: color(display-p3 .280604 .280604 .280604);
    --color-text: color(display-p3 1 1 1);
    --color-input-background: color(display-p3 .280604 .280604 .280604);
    --color-input-icon: color(display-p3 .620499 .620499 .620499);
    --color-input-focused: color(display-p3 .229013 .229013 .229013);
    --color-scrollbar-thumb: color(display-p3 .806045 .806045 .806046 / .6);
    --color-chatbot-bg: color(display-p3 .0861042 .0861042 .0861042);
    --color-logo-icon: color(display-p3 .718237 .427332 .354591);
    --color-logo-icon-alt: color(display-p3 .691884 .355377 .275215);
  }
}

@supports (color: lab(0% 0 0)) {
  :root.dark {
    --color-primary: lab(59.7716% 34.6837 26.5774);
    --color-primary-icon: lab(62.8478% 33.2016 54.3374);
    --color-surface: lab(0% 0 0);
    --color-navbar-bg: lab(0% 0 0 / .5);
    --color-navbar-inset: lab(30.4% -.0000149012 0 / .9);
    --color-topnav-bg: lab(0% 0 0 / .4);
    --color-topnav-inset: lab(0% 0 0 / .6);
    --color-box-shadow: lab(30.4% -.0000149012 0 / .4);
    --color-gap: lab(13% 0 0);
    --color-border: lab(30.4% -.0000149012 0);
    --color-text: lab(100% 0 0);
    --color-input-background: lab(30.4% -.0000149012 0);
    --color-input-icon: lab(65.2% 0 0);
    --color-input-focused: lab(24.6% 0 0);
    --color-scrollbar-thumb: lab(82.6% .0000298023 -.0000119209 / .6);
    --color-chatbot-bg: lab(7.22637% -.0000149012 0);
    --color-logo-icon: lab(54.7718% 35.7069 27.5821);
    --color-logo-icon-alt: lab(49.6388% 42.0781 33.4954);
  }
}

* {
  box-sizing: inherit;
}

:before {
  box-sizing: inherit;
}

:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
.bottom-nav {
  box-shadow: 0 0 1rem var(--color-box-shadow), inset 0 0 300rem var(--color-navbar-inset);
  -webkit-backdrop-filter: blur(.5rem);
  backdrop-filter: blur(.5rem);
  background-color: rgba(255, 255, 255, .65);
  background-color: color(display-p3 1 1 1 / .65);
  background-color: lab(100% 0 0 / .65);
  justify-content: space-around;
  align-items: center;
  width: 100%;
  display: flex;
  position: fixed;
  bottom: 0;
  left: 0;
}

.bottom-nav a {
  color: var(--color-text);
  width: 5rem;
  padding: 1rem;
}
