.config-vars {
    --bg-opacity: 1;
}

.colors-light {
    --color-primary: oklch(66.18% 0.117 32.82);
    --color-primary-icon: oklch(59.7% 0.12 32.82);
    --color-surface: oklch(100% 0 0);
    --color-bg-base: oklch(100% 0 0 / var(--bg-opacity));
    --color-navbar-bg: oklch(100% 0 0 / 65%);
    --color-navbar-inset: oklch(80% 0 0 / 60%);
    --color-topnav-bg: oklch(100% 0 0 / 60%);
    --color-topnav-inset: oklch(100% 0 0 / 90%);
    --color-box-shadow: oklch(75% 0 0 / 20%);
    --color-gap: oklch(90% 0 0);
    --color-border: oklch(88% 0 0);
    --color-text: oklch(0% 0 0);
    --color-input-background: oklch(87% 0 0);
    --color-input-icon: oklch(60% 0 0);
    --color-input-focused: oklch(92% 0 0);
    --color-scrollbar-thumb: oklch(45% 0 0 / 60%);
    --color-chatbot-bg: oklch(96% 0 0);
    --color-logo-icon: oklch(64.7% 0.12 32.82);
    --color-logo-icon-alt: oklch(57.9% 0.15 32.82);
}

.colors-dark {
    --color-primary: oklch(66.18% 0.117 32.82);
    --color-primary-icon: oklch(68.6% 0.144 55.06);
    --color-surface: oklch(0% 0 0);
    --color-bg-base: oklch(0% 0 0 / var(--bg-opacity));
    --color-navbar-bg: oklch(0% 0 0 / 50%);
    --color-navbar-inset: oklch(45% 0 0 / 90%);
    --color-topnav-bg: oklch(0% 0 0 / 40%);
    --color-topnav-inset: oklch(0% 0 0 / 60%);
    --color-box-shadow: oklch(40% 0 0 / 40%);
    --color-gap: oklch(25% 0 0);
    --color-border: oklch(40% 0 0);
    --color-text: oklch(100% 0 0);
    --color-input-background: oklch(40% 0 0);
    --color-input-icon: oklch(70% 0 0);
    --color-input-focused: oklch(35% 0 0);
    --color-scrollbar-thumb: oklch(85% 0 0 / 60%);
    --color-chatbot-bg: oklch(20% 0 0);
    --color-logo-icon: oklch(61.9% 0.12 32.82);
    --color-logo-icon-alt: oklch(57.65% 0.14 32.82);
}

.component-sizes {
    --slide-toggle-width: 4rem;
}

.global-css {
    font-family: system-ui, sans-serif;
    background-color: var(--color-surface);
    color: var(--color-text);
    box-sizing: border-box;
}

:root {
    @apply colors-light component-sizes global-css config-vars;
}

@media (prefers-color-scheme: dark) {
   :root:not(:global(.light)) {
    @apply colors-dark component-sizes global-css config-vars;
   }
}

:root:global(.dark) {
    @apply colors-dark component-sizes global-css config-vars;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
}